//colores

//primer esquema de color

$white: #ffffff;
$isabelline: #ececec;
$lightDark: #d1d1d1;

//segundo esquema de color

$smokyBlack: #0c0910;
$graniteGray: #646266;
$quickSilver: #a6a5a8;

// tipografías

$oldStandard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//pesos de fuente

$regular: 400;
$bold: 700;

//tamaños de fuente

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;






